body {
    overflow-x: hidden;
    background: #181a1f;
    background: linear-gradient(30deg, #242034 49%, #131314 75%);
}

* {
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    letter-spacing: .021em;
    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 0;
}